# Airflow configuration
AIRFLOW_ADMIN_USER=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=airflow@example.com
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# Open Brewery API configuration
BREWERIES_BASE_URL=https://api.openbrewerydb.org/v1/breweries
OPENBREWERY_PER_PAGE=100
OPENBREWERY_TIMEOUT_SEC=30

# Data Lake configuration
DATA_LAKE_BASE_PATH=/opt/airflow/data
